#Python
*.pyc
*.pyo
__pycache__/
*.log

#Django
db.sqlite3
*.sqlite3
/media/
staticfiles/
.env

#Docker
*.pid
docker-compose.override.yml
nginx/ssl/
nginx/logs/

#Venv
venv/
.env/
.env.local

#Systemowe
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

