{% extends 'base.html' %}

{% block title %}Add Message{% endblock %}

{% block content %}
<div class="container">
    <h2>Add a New Message</h2>
    {% if errors %}
        <ul class="error-list">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Message Content:</label><br>
        <textarea name="content" rows="10" required></textarea><br>
        <label>Private Key (PEM):</label><br>
        <textarea name="private_key" rows="10" required></textarea><br>
        <div class="button-container">
        <button type="submit">Submit</button>
        <a href="{% url 'dashboard' %}" class="button back-button">Back</a>
        </div>
    </form>
</div>
{% endblock %}