{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    {% if errors %}
        <ul class="error-list">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <label>Reset Token:</label><br>
        <input type="text" name="token" required><br>

        <input type="hidden" name="email" value="{{ email }}">

        <label>New Password:</label><br>
        <input type="password" name="new_password" required><br>

        <div class="button-container">
            <button type="submit">Set Password</button>
            <a href="{% url 'home' %}" class="button back-button">Back</a>
        </div>
    </form>
</div>
{% endblock %}