body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container{
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
}


form {
    margin: 20px 0;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

a.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 5px;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}


.error {
    color: red;
    background: #ffecec;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.success {
    color: green;
    background: #eaffea;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}


.qr-code-container {
    text-align: center;
    margin: 20px 0;
}

.qr-code-container img {
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 200px;
}


.uri-box {
    background: #f9f9f9;
    padding: 10px;
    margin: 15px 0;
    border: 1px dashed #ccc;
    border-radius: 5px;
    font-family: monospace;
    color: #333;
    word-break: break-all;
}

textarea{
    margin: 10px 0;
    width: 99%;
    resize:none
}